.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.form {
  width: 100%;
  max-width: 400px;
}

.wrapper {
  margin-bottom: 16px;
  position: relative;
}

.label {
  display: block;
  margin-bottom: 10px;

  color: #0ff;
}

.lab {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.input {
  width: 100%;
  margin-bottom: 10px;
  font-family: 'Syne Mono', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #0ff;
  border-radius: 4px;
  background-color: #000;
  color: #0ff;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus {
  border-color: #f0f;
  outline: none;
  box-shadow: 0 0 8px #f0f;
  background-color: transparent;
}

.error {
  color: #f00;
  font-size: 0.875em;
  position: absolute;
  bottom: -10px;
  left: 0;
  font-family: 'Syne Mono', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.login {
  margin-top: 10px;
  font-size: 0.875em;
  color: #fff;
}

.link {
  color: #0ff;
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.link:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 4px;
  background-color: #0ff;
  color: #000;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn:hover {
  background-color: #f0f;
  box-shadow: 0 0 8px #f0f;
}

@media (min-width: 768px) {
  .container {
    padding: 30px;
  }

  .form {
    max-width: 500px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 40px;
  }

  .form {
    max-width: 600px;
  }
}
