.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: transparent;

  box-shadow: 0 0 8px var(--shadow-color);
}

.logo {
  font-size: 36px;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
}

.container nav {
  display: flex;
  gap: 50px;
}

.link {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.active {
  color: var(--accent-color);
}

.link:hover {
  color: var(--accent-color);
}

@media (min-width: 768px) {
  .container {
    padding: 10px 30px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 10px 40px;
  }
}
